In [37]:
import pandas as pd

Load all the dataset to integrate

In [38]:
spleen = pd.read_csv("Spleen-counts.csv")
thymus = pd.read_csv("Thymus-counts.csv")
microglia = pd.read_csv("Brain_Microglia-counts.csv")
neuron = pd.read_csv("Brain_Neurons-counts.csv")
marrow = pd.read_csv("Marrow-counts.csv")
metadata = pd.read_csv("metadata_FACS.csv")
ann = pd.read_csv('annotations_FACS.csv')

Add a labels column to all the datasets

In [39]:
spleen.rename(columns = {'Unnamed: 0':'Genes'}, inplace = True)
thymus.rename(columns = {'Unnamed: 0':'Genes'}, inplace = True)
microglia.rename(columns = {'Unnamed: 0':'Genes'}, inplace = True)
neuron.rename(columns = {'Unnamed: 0':'Genes'}, inplace = True)
marrow.rename(columns = {'Unnamed: 0':'Genes'}, inplace = True)

In [40]:
# spleen['Tissue'] = "spleen"
# thymus['Tissue'] = "thymus"
# microglia['Tissue'] = "microglia"
# neuron['Tissue'] = "neuron"
# marrow['Tissue'] = "marrow"

In [41]:
metadata

    plate.barcode mouse.id   tissue subtissue FACS.selection mouse.sex
0         D041914    3_8_M  Bladder       NaN       Multiple         M
1         D042253    3_9_M  Bladder       NaN       Multiple         M
2       MAA000487   3_10_M  Bladder       NaN       Multiple         M
3         B000610   3_56_F  Bladder       NaN       Multiple         F
4         B002764   3_38_F  Bladder       NaN       Multiple         F
..            ...      ...      ...       ...            ...       ...
242       D042474    3_8_M  Trachea       NaN       Multiple         M
243       D042475    3_9_M  Trachea       NaN       Multiple         M
244     MAA000496   3_10_M  Trachea       NaN       Multiple         M
245     MAA001865   3_38_F  Trachea       NaN       Multiple         F
246     MAA001867   3_39_F  Trachea       NaN       Multiple         F

[247 rows x 6 columns]

In [42]:
ann

,cell,tissue,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
0,A21.MAA000594.3_8_M.1.1,Aorta,fibroblast,http://purl.obolibrary.org/obo/CL_0000057,CL:0000057
1,F8.MAA000594.3_8_M.1.1,Aorta,unknown,NaN,CL:.
2,H11.MAA000594.3_8_M.1.1,Aorta,unknown,NaN,CL:.
3,A22.MAA000594.3_8_M.1.1,Aorta,unknown,NaN,CL:.
4,H12.MAA000594.3_8_M.1.1,Aorta,epicardial adipocyte,http://purl.obolibrary.org/obo/CL_1000309,CL:1000309
...,...,...,...,...,...
42187,J18.MAA001867.3_39_F.1.1,Trachea,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
42188,L5.MAA001867.3_39_F.1.1,Trachea,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
42189,M11.MAA001867.3_39_F.1.1,Trachea,epithelial cell,http://purl.obolibrary.org/obo/CL_0000066,CL:0000066
42190,N19.MAA001867.3_39_F.1.1,Trachea,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499
42191,P1.MAA001867.3_39_F.1.1,Trachea,stromal cell,http://purl.obolibrary.org/obo/CL_0000499,CL:0000499

In [43]:
expected_rows = spleen.shape[1]+microglia.shape[1]+neuron.shape[1]+marrow.shape[1]+thymus.shape[1]
expected_rows

19219

Set Genes as index

In [44]:
spleen.set_index('Genes', inplace=True)
thymus.set_index('Genes', inplace=True)
microglia.set_index('Genes', inplace=True)
neuron.set_index('Genes', inplace=True)
marrow.set_index('Genes', inplace=True)

In [45]:
# Concatenate all the count files on x-axis
complete_data = pd.concat([spleen, thymus, microglia, neuron, marrow], axis = 1)

In [46]:
complete_data_T = complete_data.T

In [47]:
complete_data_T

Genes,0610005C13Rik,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610008F07Rik,0610009B14Rik,0610009B22Rik,...,Zxdb,Zxdc,Zyg11a,Zyg11b,Zyx,Zzef1,Zzz3,a,l7Rn6,zsGreen_transgene
A21.MAA000508.3_9_M.1.1,0,36,0,0,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C6.MAA000508.3_9_M.1.1,0,0,0,0,0,31,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A22.MAA000508.3_9_M.1.1,0,0,0,0,6,0,0,0,0,0,...,0,0,0,7,4,134,0,0,0,0
C8.MAA000508.3_9_M.1.1,0,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,45,0,0,10,0
E8.MAA000508.3_9_M.1.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,112,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P18.MAA001888.3_39_F.1.1,0,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P19.MAA001888.3_39_F.1.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P20.MAA001888.3_39_F.1.1,0,14,0,0,0,0,0,0,0,0,...,0,0,0,0,45,0,0,0,0,0
P21.MAA001888.3_39_F.1.1,0,50,0,0,29,0,0,0,0,1,...,0,12,0,0,0,0,0,0,36,0
P22.MAA001888.3_39_F.1.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

Add annotations to the main file

In [48]:
ann.set_index('cell', inplace=True)

In [52]:
meta = complete_data_T.join(ann)

In [53]:
meta

,0610005C13Rik,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610008F07Rik,0610009B14Rik,0610009B22Rik,...,Zyx,Zzef1,Zzz3,a,l7Rn6,zsGreen_transgene,tissue,cell_ontology_class,cell_ontology_term_iri,cell_ontology_id
A21.MAA000508.3_9_M.1.1,0,36,0,0,36,0,0,0,0,0,...,0,0,0,0,0,0,Spleen,T cell,http://purl.obolibrary.org/obo/CL_0000084,CL:0000084
C6.MAA000508.3_9_M.1.1,0,0,0,0,0,31,0,0,0,0,...,0,0,0,0,0,0,Spleen,B cell,http://purl.obolibrary.org/obo/CL_0000236,CL:0000236
A22.MAA000508.3_9_M.1.1,0,0,0,0,6,0,0,0,0,0,...,4,134,0,0,0,0,Spleen,T cell,http://purl.obolibrary.org/obo/CL_0000084,CL:0000084
C8.MAA000508.3_9_M.1.1,0,27,0,0,0,0,0,0,0,0,...,0,45,0,0,10,0,Spleen,B cell,http://purl.obolibrary.org/obo/CL_0000236,CL:0000236
E8.MAA000508.3_9_M.1.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Spleen,B cell,http://purl.obolibrary.org/obo/CL_0000236,CL:0000236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P18.MAA001888.3_39_F.1.1,0,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Marrow,T cell,http://purl.obolibrary.org/obo/CL_0000084,CL:0000084
P19.MAA001888.3_39_F.1.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Marrow,B cell,http://purl.obolibrary.org/obo/CL_0000236,CL:0000236
P20.MAA001888.3_39_F.1.1,0,14,0,0,0,0,0,0,0,0,...,45,0,0,0,0,0,Marrow,natural killer cell,http://purl.obolibrary.org/obo/CL_0000623,CL:0000623
P21.MAA001888.3_39_F.1.1,0,50,0,0,29,0,0,0,0,1,...,0,0,0,0,36,0,Marrow,T cell,http://purl.obolibrary.org/obo/CL_0000084,CL:0000084
P22.MAA001888.3_39_F.1.1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,Marrow,neutrophil,http://purl.obolibrary.org/obo/CL_0000775,CL:0000775

In [54]:
meta.to_csv('integrated.csv')